/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */

:root {
  /* Mode 1 */
  /* colors */
  --azul-marino: #36466f;
  --blanco: #ffffff;
  --negro: #000000;
  --salmón: #ff616a;
}

/* ******************************** */

body {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  width: 680px;
  background-color: mediumaquamarine;
}

header {
  background-image: url(../img/desktop/Banner.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: normal;
  letter-spacing: 0.24px;
}